 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* html{

   height: 0;
}  */

header{

    background: #000;
    color: aliceblue;
    height: 55px;
    width: 100%;
}

.header h2{

   display: inline-block;
   line-height: 55px;
   padding-left: 30px;
   cursor: pointer;
}

header .logo{

    display: inline-block;
}


header ul {

    display: inline-block;
    float : right;
    line-height: 55px;
    padding-right: 25px;
    list-style: none;
}

header ul li{

    display: inline-block;
    padding-right: 50px;
}

header ul li a{

   text-decoration: none;
   color: aliceblue;
}


header ul li a:hover{

    background: rgb(0, 238, 255);
    color: #000;
 }

 